#forecast_container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: 2rem 0 3rem 0;
  width: 90%;
}
.forecast_card {
  background-color: var(--white);
  box-shadow: 0 0 10px rgb(166, 209, 226);
  height: 80px;
  width: 70px;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.forecast_card_img {
  position: absolute;
  bottom: 70%;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
}
.forecast_card_temp {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.forecast_card_day {
  position: absolute;
  top: 105%;
  font-weight: 600;
  font-size: 0.9rem;
}
/** Media Queries **/
@media screen and (min-width: 768px) {
  #forecast_container {
    width: 70%;
  }
  .forecast_card {
    background-color: var(--white);
    box-shadow: 0 0 15px rgb(166, 209, 226);
    height: 100px;
    width: 80px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .forecast_card_img {
    top: -2.3rem;
    height: 70px;
  }
  .forecast_card_temp {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .forecast_card_day {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  #forecast_container {
    margin: 5rem 0;
  }
}
@media screen and (min-width: 1536px) {
  #forecast_container {
    width: 40%;
  }
}
