#main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.daytime {
  background: linear-gradient(to bottom, #005c97, #363795);
}
.nighttime {
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
