@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap");
:root {
  --main-text: #1c2d41;
  --white: #f2f2f2;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
  color: var(--main-text);
}
